name: Prettier Format
on: push
jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          ref: ${{ github.head_ref }}
      - uses: actions/setup-node@v2
        with:
          node-version: 12
        run: npm install
      - name: Prettify code
        uses: creyD/prettier_action@v4.0
        with:
          prettier_options: --write .
